<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <img style="width: 70vw;" src="https://firebasestorage.googleapis.com/v0/b/medistop-c7db0.appspot.com/o/mail2-01.png?alt=media&token=d2bb0b52-081e-452d-b84d-804a625645f7" alt="">
  <a href="{{shipment_id}}"><button style="margin-left: 10px; width: 200px;height: 50px; background-color: black;color: white; border-radius: 10px;font-size:large ;">TRACK</button></a>
</body>
</html>