<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href='{% static "image/medicine1.png"%}'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href='{%static "css/Home.css" %}'>
  <link rel="stylesheet" href='{%static "css/autocomplete.css" %}'>
  <title>MediStop</title>
  <style>
    div.dropdown-multicol {
      width: 30em;
    }

    div.dropdown-row>a.dropdown-item {
      display: inline-block;
      width: 20%;
    }

    .navbar-nav .dropdown-menu {
      width: 754px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid ms-5">
      <a class="navbar-brand fw-bold me-5" href="#">
        <img src='{%static "image/Logo1.png"%}' alt="" style="height: 35px; width: 102px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color: cyan; font-weight: 600">
              MEDICINES
            </a>
            <div class="dropdown-menu dropdown-multicol" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='DERMA' %}">DERMA</a>
                <a class="dropdown-item" href="{% url 'med_class' category='RESPIRATORY' %}">RESPIRATORY</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='ANTI INFECTIVES' %}">ANTI
                  INFECTIVES</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='UROLOGY' %}">UROLOGY</a>
                <a class="dropdown-item" href="{% url 'med_class' category='ANTI DIABETIC' %}">ANTI DIABETIC</a>

                <a class="dropdown-item ps-5"
                  href="{% url 'med_class' category='VITAMINS MINERALS NUTRIENTS' %}">VITAMINS MINERALS NUTRIENTS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='CARDIAC' %}">CARDIAC</a>
                <a class="dropdown-item" href="{% url 'med_class' category='STOMATOLOGICALS' %}">STOMATOLOGICALS</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='GASTRO INTESTINAL' %}">GASTRO
                  INTESTINAL</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='HORMONES' %}"">HORMONES</a>
                <a class=" dropdown-item" href="{% url 'med_class' category='BLOOD RELATED' %}">BLOOD RELATED</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='OPHTHAL' %}">OPHTHAL OTOLOGICALS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='OTOLOGICALS' %}">OTOLOGICALS</a>
                <a class="dropdown-item" href="{% url 'med_class' category='PAIN ANALGESICS' %}">PAIN ANALGESICS</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='ANTI MALARIALS' %}">ANTI MALARIALS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='VACCINES' %}">VACCINES</a>
                <a class="dropdown-item" href="{% url 'med_class' category='NEURO CNS' %}">NEURO CNS</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='ANTI NEOPLASTICS' %}">ANTI
                  NEOPLASTICS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="{% url 'med_class' category='OPHTHAL' %}">OPHTHAL</a>
                <a class="dropdown-item" href="{% url 'med_class' category='GYNAECOLOGICAL' %}">GYNAECOLOGICAL</a>
                <a class="dropdown-item ps-5" href="{% url 'med_class' category='SEX STIMULANTS REJUVENATORS' %}">SEX
                  STIMULANTS REJUVENATORS</a>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: 600">UPLOAD</a>
            </li> -->
            <form class="d-flex w-100" action="{%url 'search' %}" method="post">
              {%csrf_token%}
  
              <div class="autocomplete" style="width:500px;">
                <input class="form-control me-2" type="text" value="" name="searchone" placeholder="Search..." aria-label="Search" id="nav_search"
                  style="width: 500px" />
                <input type="hidden" name="meds" id="meds" value='{{meds}}'>
              </div>
              <button  class="btn btn-outline-success" style="margin-left: 8px;" type="submit">
                Search
              </button>
  
            </form>
        </ul>
        <div class="d-flex me-5">
          <a href="{%url 'upload'%}">
            <button class="btn" style="background-color: black; color: cyan; font-weight: 600">
              Upload
            </button>
          </a>
          {%if not request.session.loggedin%}
          <button class="btn text-light ms-2" type="btn" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Login</button>
          <!-- Login Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">


                <div class="card " style="width: 100%;">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="leftdiv">
                        <img src="{%static 'svg/login-01.svg'%}" class="img-fluid rounded-start" alt="...">

                      </div>
                    </div>
                    <div class="col-md-6" id="col-login">
                      <div class="card-body">
                        <h1 class="card-title ">Login</h1>

                        <form action="{%url 'login'%}" id="loginform" method="post">
                          {% csrf_token %}
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control shadow-none" id="LfloatingInput"
                              placeholder="name@example.com" name="email" required>
                            <label for="LfloatingInput" id="Llabelemail">Enter Email Id </label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control shadow-none" id="LfloatingPassword"
                              placeholder="Password" name="password" required>
                            <label for="LfloatingPassword" id="Llabelpassword">Password</label>
                          </div>
                          <p onclick="reset()" style="float:right;margin-top:0px;" id="forgot">
                            Forgot Password</p>
                          <button type="submit" class="btn " id="Lbutton1">Login</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ---- -->
          <span class="ms-1 mt-1 me-1 text-light" style="display: inline-block">|</span>
          <button class="btn text-light" type="submit" data-bs-toggle="modal"
            data-bs-target="#exampleModal1">Signup</button>
          <!-- Signup Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">

                <!-- <div class="modal-body">
                    ...
                  </div> -->
                <div class="card " style="width: 100%;">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="leftdiv">
                        <img src="{%static 'svg/Signup-01.svg'%}" class="img-fluid rounded-start" alt="...">
                      </div>
                    </div>
                    <div class="col-md-6" id="col-login">
                      <div class="card-body">
                        <h1 class="card-title ">Signup</h1>
                        <form action="{%url 'signup'%}" id="loginform" method="post">
                          {% csrf_token %}
                          <div class="first" id="1">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control shadow-none" id="floatingInputName"
                                placeholder="Rahul Sharma" name="name" required>
                              <label for="floatingInputName" id="labelname">Enter Name</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="email" class="form-control shadow-none" id="floatingInput"
                                placeholder="name@example.com" onkeyup="echeck();" name="email" required>
                              <label for="floatingInput" id="labelemail">Enter Email Id </label>
                              <span id='emmessage'></span>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-floating">
                                  <input type="password" class="form-control shadow-none" id="floatingPassword"
                                    placeholder="Password" onkeyup="passcheck();" name="password" required>
                                  <label for="floatingPassword" id="labelpassword">Set Password</label>
                                  <span id='passmessage'></span>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-floating">

                                  <input type="password" class="form-control shadow-none" id="floatingCPassword"
                                    placeholder="Confirm Password" onkeyup='check();' required>
                                  <label for="floatingCPassword" id="labelcpassword">Confirm Password</label>
                                  <span id='message'></span>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="btn " onclick="enablephone();" id="buttonNext"
                              disabled>Next</button>
                          </div>
                          <div class="second" id="2">
                            <div>
                              <p>1. Make sure all the details on the previous page are filled.<br>
                                2. OTP will be sent to your provided Mobile Number.<br>
                                3. Enter the OTP to Complete Your Verification process.
                              </p>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="tel" class="form-control shadow-none" id="floatingPhone"
                                placeholder="9925159827" pattern="[789][0-9]{9}" max-length="10" min-length="10"
                                onkeyup='pcheck();' name="phonenumber" required>
                              <label for="floatingPhone" id="labelno">Enter Phone Number</label>
                              <span id='pmessage'></span>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control shadow-none" id="floatingOTP"
                                placeholder="456273" pattern="[0-9]{6}" max-length="6" min-length="6"
                                onkeyup='otpcheck();' required>
                              <label for="floatingOTP" id="labelotp">OTP</label>
                              <span id='otpmessage'></span>
                            </div>
                            <button type="button" class="btn " onclick="prev();" id="buttonPrev">Previous</button>
                            <button type="button" class="btn " onclick="sendOTP();" id="buttonOTP">Send OTP</button>
                            <button type="submit" class="btn " id="button1" disabled>SignUp</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%else%}
          <a href="{%url 'logout'%}"><button class="btn text-light" type="submit">Logout</button></a>
          {%endif%}
        </div>
      </div>

      <!-- ---------- -->
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2 mt-1 ms-3"
        viewBox="0 0 16 16" style="color: white">
        <path
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
      </svg>
    </div>
  </nav>
  <div class="svg-top">
    <img src="{%static 'svg/home-01.svg'%}" alt="">
  </div>


  <div class="products">
    <div class="card" id="list1">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">RESPIRATORY</h2>
        </div>
        <div class="col-md-6">
          <a href="{% url 'med_class' category='RESPIRATORY' %}"> <button class="btn float-end"
            style="width: 80px; text-decoration:none;">See all</button> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl66ZxjyxKcg5zJE5AtEt0yWT8qLOZypiBWdM6diBBj6_PND743Cb6AF6x3A&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Ativan 2mg Tablet</h6>
              <p class="card-text">Bottle of 30 tablets</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹82.55</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRycqi7dKmDvmSfXmGdR0KKnPs3FtcEZVRCVB_tFp43IN9khxeB2pAY5vjcPg&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Benadryl Syrup 150ml</h6>
              <p class="card-text">150 ml in 1 bottle</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹118</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOXAhH-iVRrXkYSZ0tveeh97_m_QqWuQwsQ_7EpgSTYP6-GxhGO2qEMAQAkA&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Bro-Zedex Syrup</h6>
              <p class="card-text">100 ml in 1 bottle</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹129.75</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHPYOWg2JuM72WdHTQhWaz3IcXh-GBCizG5Tu8zdXkWPZsOMcRzEme0gbT460&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Betnesol Tablet</h6>
              <p class="card-text">20 tablets in 1 strip</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹12.85</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmdrt5Nzkp7-XS2Z5JnGDdlgpsw1hgHZ2UXZzqBep0x5OLS6ef_Ocphut2scI&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Budecort 0.5mg Respules 2ml</h6>
              <p class="card-text">5 respules in 1 packet</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹118.85</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list2">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">DERMA</h2>
        </div>
        <div class="col-md-6">
          <a href="{% url 'med_class' category='DERMA' %}"> <button class="btn float-end" 
            style="width: 80px; text-decoration:none;">See all</button> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://mymedicalshop.com/pub/media/catalog/product/cache/619a7ee885a41f3ba1cc53a6da2f486e/6/2/6275.jpg"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Benzac AC 2.5% Gel</h6>
              <p class="card-text">20 gm in 1 tube</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹83</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://5.imimg.com/data5/SELLER/Default/2020/10/GR/QQ/MU/66721154/betnovate-n-500x500.jpg"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Betnovate-N Cream</h6>
              <p class="card-text">20 gm in 1 tube</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹36.60</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf-D0yseoeEuruAiG0IyJf6VGzRiRsH8UTuW8rHZ1VTmUxATZ4ghqiIROMbsE&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Lulican Cream</h6>
              <p class="card-text">30 gm in 1 tube</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹375</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img src="https://4.imimg.com/data4/TK/PB/MY-2581214/hepcvir-500x500.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Betamil GM Cream</h6>
              <p class="card-text">25 gm in 1 tube</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹32.93</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/613M%2B9J5KsL.jpg" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h6>Candid-B Cream</h6>
              <p class="card-text">20 gm in 1 tube</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹133.50</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list3">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">GASTRO INTESTINAL</h2>
        </div>
        <div class="col-md-6">
          <a href="{% url 'med_class' category='GASTRO INTESTINAL' %}"> <button class="btn float-end" 
            style="width: 80px; text-decoration:none;">See all</button> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://cdn.shopify.com/s/files/1/0028/9390/6018/products/Anafortan_Tab_copy_1024x1024@2x.jpg?v=1550810701"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Anafortan 25 mg/300 mg Tablet</h6>
              <p class="card-text">15 tablets in 1 strip</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹113.24</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMTVfeOa6nKIh8aeymXovwaoCwHHYVhUttu2NXWhJ-VxZ98u7s8hBXL2-JRaY&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Avomine Tablet</h6>
              <p class="card-text">strip of 10 tablets</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹46.27</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgSx8S6XzYw95Ga-sGWpf2WNMwN2WgG0o8m4oYVmwbaHIuFDe2oTBDaN-gWQ&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Buscopan 10mg Tablet</h6>
              <p class="card-text">10 tablets in 1 strip</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹39.50</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uG-p1JfW3MtamRelhe3Fnn4jXhs2g6p-6oRE6YrdFfgk2VnXGoMpL4Y9MDc&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Cyclopam Tablet</h6>
              <p class="card-text">10 tablets in 1 strip</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹48.70</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHjFBBeL15f9N_h53aXzUJTcju3ZnZZa6tZq_R5QyqByQ5N_MsFMTCQZ8mtA&s"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>Duphalac Oral Solution Lemon 450ml</h6>
              <p class="card-text">450 ml in 1 bottle</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹515.02</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    login_status = document.getElementById("login_status").value;
    console.log(login_status)
    if (login_status) {
      document.getElementById("x").style.display = "none";
    }
  </script>

  <!-- -------------------------------------------------------------------- -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src='{% static "js/ModalFunc.js" %}'></script>
  <script src='{% static "js/autosuggest.js" %}'></script>
  <script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
  <script>
    var myLandbot = new Landbot.Livechat({
      configUrl: 'https://chats.landbot.io/v3/H-1003384-6BWQ4MFW449MGMIK/index.json',
    });
  </script>
</body>

</html>