<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="medicine1.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href='{%static "css/Home.css" %}'>
  <link rel="stylesheet" href='{%static "css/autocomplete.css" %}'>
  <title>MediStop</title>
  <style>
    div.dropdown-multicol {
        width: 30em;
      }
      div.dropdown-row > a.dropdown-item {
        display: inline-block;
        width: 20%;
      }
      .navbar-nav .dropdown-menu {
        width: 754px;
      }
  </style>
</head>

<body>
  <!--------NAVBAR STARTS--------->
  <!--------NAVBAR STARTS--------->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid ms-5">
      <a class="navbar-brand fw-bold me-5" href="#">
        <img src="{%static 'images/Logo1.png'%}" alt="" style="height: 35px; width: 102px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: cyan; font-weight: 600"
            >
              MEDICINES
            </a>
            <div
              class="dropdown-menu dropdown-multicol"
              aria-labelledby="dropdownMenuButton"
            >
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">DERMA</a>
                <a class="dropdown-item" href="#">RESPIRATORY</a>
                <a class="dropdown-item ps-5" href="#">ANTI INFECTIVES</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">UROLOGY</a>
                <a class="dropdown-item" href="#">ANTI DIABETIC</a>

                <a class="dropdown-item ps-5" href="#"
                  >VITAMINS MINERALS NUTRIENTS</a
                >
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">CARDIAC</a>
                <a class="dropdown-item" href="#">STOMATOLOGICALS</a>
                <a class="dropdown-item ps-5" href="#">GASTRO INTESTINAL</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">HORMONES</a>
                <a class="dropdown-item" href="#">BLOOD RELATED</a>
                <a class="dropdown-item ps-5" href="#">OPHTHAL OTOLOGICALS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">OTOLOGICALS</a>
                <a class="dropdown-item" href="#">PAIN ANALGESICS</a>
                <a class="dropdown-item ps-5" href="#">ANTI MALARIALS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">VACCINES</a>
                <a class="dropdown-item" href="#">NEURO CNS</a>
                <a class="dropdown-item ps-5" href="#">ANTI NEOPLASTICS</a>
              </div>
              <div class="dropdown-row">
                <a class="dropdown-item" href="#">OPHTHAL</a>
                <a class="dropdown-item" href="#">GYNAECOLOGICAL</a>
                <a class="dropdown-item ps-5" href="#"
                  >SEX STIMULANTS REJUVENATORS</a
                >
              </div>
            </div>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: 600">UPLOAD</a>
            </li> -->
          <form class="d-flex w-100">
            <div class="autocomplete" style="width:500px;">
              <input class="form-control me-2" type="text" placeholder="Search..." aria-label="Search" id="nav_search"
                style="width: 500px" />
              <input type="hidden" name="meds" id="meds" value='{{meds}}'>
            </div>
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>

          </form>
        </ul>
        <div class="d-flex me-5">
          <a href="{%url 'upload'%}">
          <button class="btn" style="background-color: black; color: cyan; font-weight: 600">
            Upload
          </button>
          </a>
          {%if not request.session.loggedin%}
          <button class="btn text-light ms-2" type="btn" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Login</button>
          <!-- Login Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">


                <div class="card " style="width: 100%;">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="leftdiv">
                        <img src="{%static 'svg/login-01.svg'%}" class="img-fluid rounded-start" alt="...">

                      </div>
                    </div>
                    <div class="col-md-6" id="col-login">
                      <div class="card-body">
                        <h1 class="card-title ">Login</h1>

                        <form action="{%url 'login'%}" id="loginform" method="post">
                          {% csrf_token %}
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control shadow-none" id="LfloatingInput"
                              placeholder="name@example.com" name="email" required>
                            <label for="LfloatingInput" id="Llabelemail">Enter Email Id </label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control shadow-none" id="LfloatingPassword"
                              placeholder="Password" name="password" required>
                            <label for="LfloatingPassword" id="Llabelpassword">Password</label>
                          </div>
                          <p onclick="reset()" style="float:right;margin-top:0px;" id="forgot">
                            Forgot Password</p>
                          <button type="submit" class="btn " id="Lbutton1">Login</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ---- -->
          <span class="ms-1 mt-1 me-1 text-light" style="display: inline-block">|</span>
          <button class="btn text-light" type="submit" data-bs-toggle="modal"
            data-bs-target="#exampleModal1">Signup</button>
          <!-- Signup Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">

                <!-- <div class="modal-body">
                    ...
                  </div> -->
                <div class="card " style="width: 100%;">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="leftdiv">
                        <img src="{%static 'svg/Signup-01.svg'%}" class="img-fluid rounded-start" alt="...">

                      </div>
                    </div>
                    <div class="col-md-6" id="col-login">
                      <div class="card-body">
                        <h1 class="card-title ">Signup</h1>
                        <form action="{%url 'signup'%}" id="loginform" method="post">
                          {% csrf_token %}
                          <div class="first" id="1">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control shadow-none" id="floatingInputName"
                                placeholder="Rahul Sharma" name="name" required>
                              <label for="floatingInputName" id="labelname">Enter Name</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="email" class="form-control shadow-none" id="floatingInput"
                                placeholder="name@example.com" onkeyup="echeck();" name="email" required>
                              <label for="floatingInput" id="labelemail">Enter Email Id </label>
                              <span id='emmessage'></span>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-floating">
                                  <input type="password" class="form-control shadow-none" id="floatingPassword"
                                    placeholder="Password" onkeyup="passcheck();" name="password" required>
                                  <label for="floatingPassword" id="labelpassword">Set Password</label>
                                  <span id='passmessage'></span>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-floating">

                                  <input type="password" class="form-control shadow-none" id="floatingCPassword"
                                    placeholder="Confirm Password" onkeyup='check();' required>
                                  <label for="floatingCPassword" id="labelcpassword">Confirm Password</label>
                                  <span id='message'></span>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="btn " onclick="enablephone();" id="buttonNext"
                              disabled>Next</button>
                          </div>
                          <div class="second" id="2">
                            <div>
                              <p>1. Make sure all the details on the previous page are filled.<br>
                                2. OTP will be sent to your provided Mobile Number.<br>
                                3. Enter the OTP to Complete Your Verification process.
                              </p>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="tel" class="form-control shadow-none" id="floatingPhone"
                                placeholder="9925159827" pattern="[789][0-9]{9}" max-length="10" min-length="10"
                                onkeyup='pcheck();' name="phonenumber" required>
                              <label for="floatingPhone" id="labelno">Enter Phone Number</label>
                              <span id='pmessage'></span>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control shadow-none" id="floatingOTP"
                                placeholder="456273" pattern="[0-9]{6}" max-length="6" min-length="6"
                                onkeyup='otpcheck();' required>
                              <label for="floatingOTP" id="labelotp">OTP</label>
                              <span id='otpmessage'></span>
                            </div>
                            <button type="button" class="btn " onclick="prev();" id="buttonPrev">Previous</button>
                            <button type="button" class="btn " onclick="sendOTP();" id="buttonOTP">Send OTP</button>
                            <button type="submit" class="btn " id="button1" disabled>SignUp</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>

      <!-- ---------- -->
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2 mt-1 ms-3"
        viewBox="0 0 16 16" style="color: white">
        <path
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
      </svg>
    </div>
  </nav>
  <div class="svg-top">
    <img src="{%static 'svg/home-01.svg'%}" alt="">
  </div>


  <div class="products">
    <div class="card" id="list1">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">DERMA</h2>
        </div>
        <div class="col-md-6">
          <a <button class="btn float-end" href="{% url 'med_class' category='DERMA' %}"
            style="width: 80px; text-decoration:none;">See all</button> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list2">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">VITAMINS MINERALS NUTRIENTS</h2>
        </div>

        <div class="col-md-6">
          <a <button class="btn float-end" href="{% url 'med_class' category='VITAMINS MINERALS NUTRIENTS' %}"
            style="width: 80px; text-decoration:none;">See all</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list3">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">PAIN ANALGESICS</h2>
        </div>
        <div class="col-md-6">
          <a <button class="btn float-end" href="{% url 'med_class' category='PAIN ANALGESICS' %}"
            style="width: 80px; text-decoration:none;">See all</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://newassets.apollo247.com/pub/media/catalog/product/c/r/cro0023.jpg" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h6>Crocin - 500mg</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list3">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">GASTRO INTESTINAL</h2>
        </div>
        <div class="col-md-6">
          <a <button class="btn float-end" href="{% url 'med_class' category='GASTRO INTESTINAL' %}"
            style="width: 80px; text-decoration:none;">See all</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://newassets.apollo247.com/pub/media/catalog/product/c/r/cro0023.jpg" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h6>Crocin - 500mg</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="list5">
      <div class="row">
        <div class="col-md-6">
          <h2 class="list-title">CARDIAC</h2>
        </div>
        <div class="col-md-6">
          <a <button class="btn float-end" href="{% url 'med_class' category='CARDIAC' %}"
            style="width: 80px; text-decoration:none;">See all</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card .shadow-3">
            <img
              src="https://onemg.gumlet.io/image/upload/a_ignore,w_380,h_380,c_fit,q_auto,f_auto/v1601016652/cropped/l2tsfthu3n4ptphoswzf.png"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h6>1mg Multivitamin Supreme Immunity Booster Zinc...</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://newassets.apollo247.com/pub/media/catalog/product/c/r/cro0023.jpg" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h6>Crocin - 500mg</h6>
              <p class="card-text">Bottle of 60 capsules</p>
            </div>
            <div class="card-footer">
              <h5>MRP: ₹498</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    login_status = document.getElementById("login_status").value;
    console.log(login_status)
    if (login_status) {
      document.getElementById("x").style.display = "none";
    }
  </script>

  <!-- -------------------------------------------------------------------- -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src='{% static "js/ModalFunc.js" %}'></script>
  <script src='{% static "js/autosuggest.js" %}'></script>
</body>

</html>