<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="medicine1.png">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Signup</title>
  <style>
    img {
      width: 100%;
      height: 100%;
    }

    .card {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .modal-content {
      border-radius: 10px;
    }

    .form-floating {
      margin-top: 10%;
    }

    .btn {
      width: 70%;
      margin-top: 10%;
      color: cyan;
      background-color: black;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: 15%;
      height: 50px;
      font-size: x-large;
    }

    .btn:hover {

      color: black;
      background-color: cyan;

      transform: scale(1.1);
    }

    #col-login {
      padding: 5%;
      align-items: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 1px solid lightgray;

    }

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel],
    input[type=number] {
      border: none;
      border-bottom: 2px solid grey;
    }

    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=number]:focus {
      border: none;
      border-bottom: 4px solid cyan;
      outline: none;
    }

    input:focus {
      outline-style: 0;
    }

    /* .leftdiv{
            width: 60%;
            height: 60%;
        } */
    .carousel-caption {
      align-items: baseline;
    }
    .second{
      display: none;
    }
    #buttonOTP{
      display: none;
    }
    

  </style>
</head>

<body>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">

        <!-- <div class="modal-body">
          ...
        </div> -->
        <div class="card " style="width: 100%;">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="leftdiv">
                <img src="Signup-01.svg" class="img-fluid rounded-start" alt="...">
                <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="	https://www.1mg.com/images/login-signup/Your-Go-To-Health-App.png" class="d-block w-100 h-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Make Healthcare Simpler</h5>
                          <p>Get medicine information, order medicines, book lab tests and consult doctors online from the comfort of your home.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.1mg.com/images/login-signup/Know-Your-Medicines.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Know-Your-Medicines</h5>
                          <p>View medicine information like usage, side effects and cheaper substitutes before you take them.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="	https://www.1mg.com/images/login-signup/Home-Delivery-of-Medicines.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Medicines, Home Delivered</h5>
                          <p>Order any medicine or health product and we’ll deliver it for free. Enjoy discounts on everything.</p>
                        </div>
                      </div>
                    </div>
                   </div> -->
              </div>
            </div>
            <div class="col-md-6" id="col-login">
              <div class="card-body">
                <h1 class="card-title ">Signup</h1>
                <form action="{%url 'signup'%}" method="POST" id="loginform">
                  {% csrf_token %}
                  <div class="first" id="1">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control shadow-none" name="name" id="floatingInputName"
                      placeholder="Rahul Sharma" required>
                    <label for="floatingInputName" id="labelname">Enter Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control shadow-none" name="email" id="floatingInput"
                      placeholder="name@example.com" onkeyup="echeck();" required>
                    <label for="floatingInput" id="labelemail">Enter Email Id </label>
                    <span id='emmessage'></span>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <input type="password" class="form-control shadow-none" name="password" id="floatingPassword"
                          placeholder="Password" onkeyup="passcheck();" required>
                        <label for="floatingPassword" id="labelpassword">Set Password</label>
                        <span id='passmessage'></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">

                        <input type="password" class="form-control shadow-none" id="floatingCPassword"
                          placeholder="Confirm Password" onkeyup='check();' required>
                        <label for="floatingCPassword" id="labelcpassword">Confirm Password</label>
                        <span id='message'></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn " onclick="enablephone();" id="buttonNext" disabled>Next</button>
                  </div>
                  <div class="second" id="2">
                    <div>
                      <p>1. Make sure all the details on the previous page are filled.<br>
                        2. OTP will be sent to your provided Mobile Number.<br>
                        3. Enter the OTP to Complete Your Verification process.
                      </p>
                    </div>
                  <div class="form-floating mb-3">
                    <input type="tel" class="form-control shadow-none" id="floatingPhone" name="phonenumber" placeholder="9925159827"
                      pattern="[789][0-9]{9}" max-length="10" min-length="10" onkeyup='pcheck();' required>
                    <label for="floatingPhone" id="labelno">Enter Phone Number</label>
                    <span id='pmessage'></span>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control shadow-none" id="floatingOTP" placeholder="456273"
                      pattern="[0-9]{6}" max-length="6" min-length="6" onkeyup='otpcheck();' required>
                    <label for="floatingOTP" id="labelotp">OTP</label>
                    <span id='otpmessage'></span>
                  </div>
                  <button type="button" class="btn " onclick="prev();" id="buttonPrev">Previous</button>
                  <button type="button" class="btn " onclick="sendOTP();" id="buttonOTP">Send OTP</button>
                  <button type="submit" class="btn " id="button1" disabled>SignUp</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        function generateOTP() {
          
          // Declare a digits variable 
          // which stores all digits
          var digits = '0123456789';
          let OTP = '';
          for (let i = 0; i < 6; i++ ) {
              OTP += digits[Math.floor(Math.random() * 10)];
          }
          return OTP;
      }
        
      // document.write("OTP of 6 digits: ")
      // document.write( generateOTP() );
      let o = "";
      var sendOTP = function(){
        otp=generateOTP();
        o = otp;
      msg="To verify your otp for MediStop, kindly enter the otp"+otp+".";
      // number lelena yaha
      number= document.getElementById("floatingPhone").value;
      
      var settings = {
          "async": true,
          "crossDomain": true,
          "url": "https://www.fast2sms.com/dev/bulkV2?authorization=GPhaYo5Xmngz9WudTE6HJIMLfrDwtpkOKiZF7qb8VcjCxNA3sl4tXkvEKbyQPdh6zwLDIqABH23TVFmR&sender_id=TXTIND&message="+msg+"&route=v3&numbers="+number,
          "method": "GET"
        }
        
        $.ajax(settings).done(function (response) {
          console.log(response);
          
        });
      }


    </script>







  <script>
// pass check
    var check = function () {
      if (document.getElementById('floatingPassword').value ==
        document.getElementById('floatingCPassword').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'matching';
        next();
      } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'not matching';
      }
    }


    // phone check
    var pass =/^.{8,}$/
    var em = /^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/;
    var phoneno = /^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$/;
    var pcheck = function () {

      if (document.getElementById('floatingPhone').value.match(phoneno)) {
        document.getElementById('pmessage').innerHTML = '';
        otp();

      } else {
        document.getElementById('pmessage').style.color = 'red';
        document.getElementById('pmessage').innerHTML = 'Enter a 10 digit valid Phone number';
      }
    }

    var otp = function () {
      if ((document.getElementById('floatingPassword').value ==
        document.getElementById('floatingCPassword').value) && (document.getElementById('floatingPhone').value.match(phoneno))
        && (document.getElementById('floatingPassword').value && document.getElementById('floatingCPassword').value && document.getElementById('floatingPhone').value && document.getElementById('floatingInput').value && document.getElementById('floatingInputName').value !== "")) {

          document.getElementById("buttonOTP").style.display= "inline";
          document.getElementById("button1").style.display= "none";


      }
    }

    var next = function () {
      if ((document.getElementById('floatingPassword').value ==
        document.getElementById('floatingCPassword').value) && (document.getElementById('floatingInput').value.match(em)) && (document.getElementById('floatingInput').value.match(pass))
        && (document.getElementById('floatingPassword').value && document.getElementById('floatingCPassword').value && document.getElementById('floatingInput').value && document.getElementById('floatingInputName').value !== "")) {

          document.getElementById("buttonNext").disabled = false;


      }
    }

    var enablephone = function(){
        document.getElementById("1").style.display= "none";
        document.getElementById("2").style.display= "inline";

    }

    var prev = function(){
        document.getElementById("1").style.display= "inline";
        document.getElementById("2").style.display= "none";
        document.getElementById("buttonNext").disabled = false;
    }



var otpcheck = function(){
    if (document.getElementById('floatingOTP').value.match(o)) {
        document.getElementById('otpmessage').style.color = 'green';
        document.getElementById('otpmessage').innerHTML = 'Verified';
        document.getElementById("buttonOTP").style.display= "none";
        document.getElementById("buttonPrev").style.display= "none";
        document.getElementById("button1").style.display= "inline";
        document.getElementById("button1").disabled = false
      } else {
        document.getElementById('otpmessage').style.color = 'red';
        document.getElementById('otpmessage').innerHTML = 'incorrect';
      }
    }
  

    // EMAIL VALIDATION
    var em = /^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/;
    var echeck = function () {

      if (document.getElementById('floatingInput').value.match(em)) {
        document.getElementById('emmessage').innerHTML = '';
       
      } else {
        document.getElementById('emmessage').style.color = 'red';
        document.getElementById('emmessage').innerHTML = 'Enter a valid EmailID';
      }
    }

    var passcheck = function () {

if (document.getElementById('floatingPassword').value.match(pass)) {
  document.getElementById('passmessage').innerHTML = '';
 
} else {
  document.getElementById('passmessage').style.color = 'red';
  document.getElementById('passmessage').innerHTML = 'Enter a minimum 8 digit password';
}
}

    
  </script>
</body>

</html>